
.education-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.education-container h1 {
  font-size: 70px;
}

.education {
  margin: 80px auto;
  padding: 30px;
  width: 800px;
  border: 1px solid white;
  text-align: left;
  box-shadow:rgba(244, 243, 245, 0.836) 0px 1px 4px;
}
.education-details{
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
}
.education-left{

  vertical-align: top;
}
.education-left img {
  width: 80px;
  margin-right: 30px;
}

.education-right {
  text-align: left;
}
h4{
  font-size: 23px;
  line-height: 30px;
  color:rgba(244, 243, 245, 0.836);
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}
p{
  color:rgba(248, 246, 250, 0.836);
  padding: 0px;
  margin: 3px 0px;
}
.summary p{
  color: rgba(248, 246, 250, 0.836);
  font-size: 17px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .education {
    flex-direction: column;
  }

  .education-left img {
    margin-bottom: 20px;
  }
}
