.certification-container{
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}
.certification-container h1{
  font-size: 70px;
}
.certifications{
  margin-top: 80px;
}
.certification-details{
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.certification-left img{
  width: 60px;
  margin-right: 30px;
}
.certification-right h4{
  font-size: 23px;
  line-height: 30px;
  color:rgba(244, 243, 245, 0.836);
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}
.certification-right p{
  color:rgba(248, 246, 250, 0.836);
  padding: 0px;
  margin: 3px 0px;
}
.summary p{
  color: rgba(248, 246, 250, 0.836);
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
}
.margin{
  padding: 20px;
  margin: 0px 20px;
  box-shadow:rgba(244, 243, 245, 0.836) 0px 1px 4px;
}